/* Header.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Navbar */
.nav {
  width: 100%;
  background: white;
  padding: 18px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 12px rgba(128, 0, 128, 0.08);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Logo */
.logo {
  font-size: 28px;
  font-weight: bold;
  color: rgb(53, 53, 53);
  cursor: pointer;
}

.logo::after {
  content: "Portfolio";
}

/* Menu */
.nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav ul li {
  font-size: 17px;
  font-weight: 600;
  color: rgb(53, 53, 53);
  cursor: pointer;
  transition: 0.3s ease;
  position: relative;
}

/* Hover effect */
.nav ul li:hover {
  color: #6a0dad;
}

.nav ul li::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: purple;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.nav ul li:hover::after {
  width: 100%;
}

/* Tablet */
@media (max-width: 768px) {
  .nav {
    padding: 15px 5%;
    flex-direction: column;
    gap: 15px;
  }

  .nav ul {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav ul li {
    font-size: 16px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .nav {
    padding: 12px 4%;
  }

  .logo {
    font-size: 24px;
  }

  .nav ul {
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }

  .nav ul li {
    font-size: 15px;
  }
}